<div class="about-section container">
  <div class="row">
  </div>
</div>

{% schema %}
{
  "name": "About",
  "tag": "section",
  "class": "about",
  "presets": [
    {
      "name": "About"
    }
  ]
}
{% endschema %}
