<div class="footer container">
  <div class="row">
    <div class="col-12">
      <div class="footer-bar d-flex justify-content-between flex-column flex-md-row">
        <div class="footer-email">Contact us at: <span><a href="mailto:chateaudelutz@gmail.com">chateaudelutz@gmail.com</a></span></div>
        <div class="footer-social d-flex justify-content-start justify-content-md-end"><a href="/">Instagram</div>
      </div>
    </div>
  </div>
</div>
