{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="header">
  <a href="/" class="logo"><h1>CHATEAU DE LUTZ</h1></a>
  <div class="controls">
    <a href="/pages/shop">SHOP</a>
    <a href="/pages/info">INFO</a>
    <a class="bag" href="/cart"></a>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section-header"
}
{% endschema %}
