  <div class="header container">
    <div class="row">
      <div class="col-12">
        <div class="h-100 d-flex flex-column justify-content-center">
          <div class="header d-flex flex-column position-relative">
            <div class="text d-flex flex-column">
              <h1>Chateau De Lutz</h1>
              <h3>Unapologetically Ours.</h3>
              <h5>- Coming Soon -</h5>
            </div>
            {{ section.settings.image | image_url: width: 1500 | image_tag }}
          </div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    }
  ]
}
{% endschema %}
