{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="header">
  <a href="/" class="logo"><h1>CHATEAU DE LUTZ</h1></a>
  <div class="controls">
    <a href="/pages/shop">SHOP</a>
    <a href="/pages/info">INFO</a>
    <a href="/cart">
      <div class="bag-holder">
        <div class="text">BAG</div>
        {% if cart.item_count > 0 %}
          <div id="header-bag-icon" class="bag active" href="/cart"></div>
        {% else %}
          <div id="header-bag-icon" class="bag" href="/cart"></div>
        {% endif %}
      </div>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section-header"
}
{% endschema %}
