{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="header">
  <a href="/" class="logo"><h1>CHATEAU DE LUTZ</h1></a>
  <div class="controls">
    <a href="/pages/shop">SHOP</a>
    <a href="/pages/info">INFO</a>
    {% if cart.item_count > 0 %}
      <a id="header-bag-icon" class="bag active" href="/cart"></a>
    {% else %}
      <a id="header-bag-icon" class="bag" href="/cart"></a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section-header"
}
{% endschema %}
