<div class="list-products-section container" id="products">
  <div class="row">
    {% paginate collections.all.products by 50 %}
      {% for product in collections.all.products %}
        <div class="col-12 d-flex justify-content-center">
          <a href="{{ product.url }}">
            <div class="list-products-product">
              {{
                product.featured_image 
                | image_url: width: 1500 
                | image_tag:
                  loading: 'lazy',
                  widths: '375, 750, 1100, 1500',
                  alt: media.alt,
                  style: 'position: relative; transform: none; left: 0; width: 100%; height: auto;'
              }}
              <div class="list-products-product-bar d-flex justify-content-between flex-column flex-md-row">
                <div class="list-products-product-bar-title">{{ product.title }}</div>
                <div class="list-products-product-bar-price">{{ product.price | money }}</div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    {% endpaginate %}
  </div>
</div>

{% schema %}
{
  "name": "List Products",
  "tag": "section",
  "class": "list-products",
  "presets": [
    {
      "name": "List Products"
    }
  ]
}
{% endschema %}
