:root {
  --black: #1B1A19;
  --grey: #F3F3F3
}

* {
  color: var(--black);
  font-family: EB Garamond;
  line-height: normal;
  font-size: 0.875rem;
  font-weight: 400;
}

body {
  background: var(--grey);
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}

.bold {
  font-size: 1.25rem;
  font-weight: 700;
}
